.button {
	background-color: var(--button-fill);
	color: var(--button-foreground);
	font-weight: 600;
	font-family: var(--fonts);

	padding: var(--spacing-s);
	flex-shrink: 0;

	border-radius: var(--border-rounding);
	outline: none;
	border: none;

	transition: 0.2s background-color;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	gap: var(--spacing-xs);
}

.slim {
	padding: var(--spacing-xs);
	border-radius: var(--border-rounding-small);
}

.button[disabled]:hover {
	cursor: not-allowed;
}

.button:hover {
	cursor: pointer;
}

.filled {
	background-color: var(--button-fill);
	color: var(--button-foreground);
}

.filled[disabled] {
	background-color: var(--button-fill-disabled);
	color: var(--button-foreground-disabled);
}

.filled:hover {
	background-color: var(--button-fill-hover);
}

.filled[disabled]:hover {
	background-color: var(--button-fill-disabled);
}

.unfilled {
	background-color: transparent;
	color: var(--link-color);
}

.unfilled[disabled] {
	color: var(--link-color-disabled);
}

.unfilled:hover {
	background-color: var(--button-unfilled-hover);
}

.unfilled[disabled]:hover {
	background-color: transparent;
}

.inverted {
	background-color: var(--button-inverted-fill);
	color: var(--accent);
}

.inverted:hover {
	background-color: var(--blue-50);
}

.inverted[disabled] {
	color: var(--button-inverted-disabled-text);
	background-color: var(--button-inverted-disabled-fill);
}

.light {
	background-color: var(--button-light-background);
	color: var(--button-light-foreground);
}

.light:hover {
	background-color: var(--button-light-background-hover);
}

.light[disabled] {
	color: var(--button-light-foreground-disabled);
}

.light[disabled]:hover {
	background-color: var(--button-light-background);
}

.vertical {
	flex-direction: column;
	justify-content: center;
}