/** Table's display **/
.table {
	padding: var(--padding-s);
	border-radius: var(--border-rounding-large);
	box-sizing: border-box;
}

/* A normal table */
.regular {
	background-color: var(--table-background);
}

.participants {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-s);
}

.roaming {
	margin: var(--padding-s) 0;
	border-radius: 0;
	background-color: transparent;
	flex-grow: 1;
}

.stage {
	margin: var(--padding-s) 0;
	border: var(--border-strong);
	border-color: var(--avatar-speaking-color);
}