.container {
	position: relative;
	max-width: 90vw;
	min-width: calc(400px + 1em);
	width: auto;
	border-radius: var(--border-rounding);
	background-color: var(--screen-inactive);
}

.container>div {
	background-color: var(--screen-inactive);
}

.container[open] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.container summary {
	font-weight: bold;
	padding: 0.5em 1em;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
}

.container summary span:last-child {
	margin-left: auto;
}

.container[open] summary span:last-child {
	rotate: 180deg;
}

.active {
	background-color: var(--screen-active);
}

.active>div {
	background-color: var(--screen-active);
}

.active summary {
	color: white;
}

.buttons {
	margin: 0 0.5em 0.5em !important;
	justify-content: center;
}

.screenContent {
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: inherit;
	border-radius: var(--border-rounding);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media (prefers-color-scheme: dark) {
	.active {
		color: var(--blue-200);
	}
}