/* Define base variable assignments */
:root {
	--background: white;
	--background-tint-faint: var(--accent-tint-light);
	--foreground: var(--gray-900);

	--vertical-padding: var(--spacing-m);
	--horizontal-padding: var(--spacing-m);

	--vertical-text-padding: var(--spacing-s);
	--horizontal-text-padding: var(--spacing-m);

	--max-width: var(--max-content-width);

	--link-color: var(--blue-500);
	--link-color-hover: var(--blue-700);
	--link-color-disabled: var(--blue-500-faded);

	--padding: var(--vertical-padding) var(--horizontal-padding);
	--text-padding: var(--vertical-text-padding) var(--horizontal-text-padding);

	--navbar-text-padding: var(--spacing-s);
	--navbar-icon-padding: var(--spacing-xs);

	--border-rounding-small: 8px;
	--border-rounding: 12px;
	--border-rounding-large: 24px;

	--border-color-light: var(--gray-100);
	--border-color-medium: var(--gray-200);
	--border-color-strong: var(--gray-300);

	--border-light: 1px solid var(--border-color-light);
	--border-medium: 2px solid var(--border-color-medium);
	--border-strong: 3px solid var(--border-color-strong);

	--button-fill: var(--blue-500);
	--button-fill-disabled: var(--blue-200);
	--button-fill-hover: var(--blue-600);
	--button-foreground: white;
	--button-foreground-disabled: #fff4;
	--button-unfilled-hover: var(--accent-tp-25);

	--page-spacing: var(--vertical-padding);
}

/* Dark theme switch */
@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--gray-900);
		--background-tint-faint: var(--accent-tint-dark);
		--foreground: var(--gray-50);
		--link-color: var(--blue-300);
		--link-color-hover: var(--blue-500);
		--link-color-disabled: var(--blue-300-faded);
		--button-fill-disabled: var(--blue-800);

		--border-color-light: var(--gray-800);
		--border-color-medium: var(--gray-700);
		--border-color-strong: var(--gray-600);
	}
}

/* Responsive variables */
@media only screen and (max-width: 480px) {
	:root {
		--horizontal-padding: var(--spacing-s);
		--vertical-padding: var(--spacing-s);
		--horizontal-text-padding: var(--spacing-s);

		--page-spacing: 0;
	}
}

@media only screen and (max-width: 768px) {
	:root {
		--navbar-text-padding: var(--spacing-xs);
	}
}

/* Style settings, such as wide UI, etc. */
body.wide {
	--max-width: none;
}