/* Define base variable assignments */
:root {
	--fonts: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--background: white;
	--background-tint-faint: var(--accent-tint-light);
	--foreground: var(--gray-900);
	--foreground-faint: var(--gray-600);

	--vertical-padding: var(--spacing-m);
	--horizontal-padding: var(--spacing-m);

	--vertical-text-padding: var(--spacing-s);
	--horizontal-text-padding: var(--spacing-m);

	--max-width: var(--max-content-width);

	--link-color: var(--blue-500);
	--link-color-hover: var(--blue-700);
	--link-color-disabled: var(--blue-500-faded);

	--padding: var(--vertical-padding) var(--horizontal-padding);
	--padding-s: var(--spacing-s);
	--padding-xs: var(--spacing-xs);
	--padding-xs: var(--spacing-xxs);
	--text-padding: var(--vertical-text-padding) var(--horizontal-text-padding);

	--navbar-text-padding: var(--spacing-s);
	--navbar-icon-padding: var(--spacing-xs);

	--border-rounding-small: 8px;
	--border-rounding: 12px;
	--border-rounding-large: 24px;

	--border-color-light: var(--gray-100);
	--border-color-medium: var(--gray-200);
	--border-color-strong: var(--gray-300);

	--border-light: var(--border-light-width) solid var(--border-color-light);
	--border-medium: var(--border-medium-width) solid var(--border-color-medium);
	--border-strong: var(--border-strong-width) solid var(--border-color-strong);

	--button-fill: var(--blue-500);
	--button-fill-disabled: var(--blue-100);
	--button-fill-hover: var(--blue-600);
	--button-foreground: white;
	--button-foreground-disabled: #fff8;
	--button-unfilled-hover: var(--accent-tp-12);
	--button-inverted-fill: white;
	--button-inverted-disabled-fill: white;
	--button-inverted-disabled-text: var(--blue-100);
	--button-light-background: var(--blue-50);
	--button-light-background-hover: var(--blue-100);
	--button-light-foreground: var(--blue-900);
	--button-light-foreground-disabled: var(--gray-900-25);

	--alert-color: var(--red-500);

	--page-spacing: var(--vertical-padding);

	--screen-active: var(--accent);
	--screen-inactive: var(--blue-100);

	--table-background: var(--gray-50);
	--table-background-current: white;
	--table-border: var(--border-medium);
	--table-border-current: 2px solid var(--accent);

	--avatar-border-color: var(--gray-200);
	--avatar-border: 2px solid var(--avatar-border-color);
	--avatar-speaking-color: var(--green-600);

	--badge-user-color: var(--link-color);
	--badge-action-color: var(--avatar-speaking-color);
	--badge-alert-color: var(--red-400);
	--badge-text-color: white;

	--chat-max-width: 400px;
}

/* Dark theme switch */
@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--gray-900);
		--background-tint-faint: var(--accent-tint-dark);
		--foreground: var(--gray-50);
		--foreground-faint: var(--gray-300);
		--link-color: var(--blue-300);
		--link-color-hover: var(--blue-500);
		--link-color-disabled: var(--blue-300-faded);

		--button-fill-disabled: var(--blue-800);
		--button-light-background: var(--blue-800-desaturated);
		--button-light-background-hover: var(--blue-700);
		--button-light-foreground: var(--blue-100);
		--button-light-foreground-disabled: #fff4;

		--alert-color: var(--red-400);

		--border-color-light: var(--gray-800);
		--border-color-medium: var(--gray-700);
		--border-color-strong: var(--gray-600);

		--screen-inactive: var(--blue-800);

		--table-background: var(--gray-800);
		--table-background-current: var(--gray-700);

		--avatar-border-color: var(--gray-700);
		--avatar-speaking-color: var(--green-400);

		--badge-alert-color: var(--red-300);
		--badge-text-color: black;
	}
}

/* Responsive variables */
@media only screen and (max-width: 480px) {
	:root {
		--horizontal-padding: var(--spacing-s);
		--vertical-padding: var(--spacing-s);
		--horizontal-text-padding: var(--spacing-s);

		--page-spacing: 0;
	}
}

@media only screen and (max-width: 768px) {
	:root {
		--navbar-text-padding: var(--spacing-xs);
	}
}

/* Style settings, such as wide UI, etc. */
body.wide {
	--max-width: none;
	--chat-max-width: 800px;
}