.page {
	position: absolute;
	background: var(--background);
	border-radius: var(--border-rounding-large);
	border: var(--border-medium);
	padding: 2px;
	top: calc(100% - 40px);
	left: calc(100% - 40px);
	min-width: 140px;
	color: black;
	z-index: 100;
}

.section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.section>button {
	flex-shrink: 0;
	flex-wrap: nowrap;
	width: auto;
	overflow: hidden;
}

.hidden {
	display: none;
}