.page {
	position: fixed;
	background: var(--background);
	border-radius: var(--border-rounding-large);
	border: var(--border-medium);
	padding: var(--text-padding);
	top: var(--spacing-m);
	right: var(--spacing-s);
	margin: var(--page-spacing) auto;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 768px) {
	.page {
		right: 0;
		bottom: 0;
	}
}
