.field {
	display: flex;
	flex-direction: column;
	outline: var(--border-light);
	border-radius: var(--border-rounding-small);
	box-sizing: border-box
}

.field label {
	margin-bottom: 0.5rem;
	font-weight: 500;
	font-size: var(--text-xs);
	margin-bottom: calc(var(--spacing-s) * -3);
	padding: var(--spacing-s);
	color: var(--foreground-faint);
}

.field input {
	border: none;
	outline: none;
	margin: 0;
	padding: var(--spacing-s);
	padding-top: calc(var(--spacing-s) * 2);
	font-size: var(--text-s);
	background: transparent;
}

.field:focus-within {
	outline: var(--border-medium);
	outline-color: var(--link-color);
}

.field:focus-within label {
	color: var(--link-color);
}