.screen {
	background-color: var(--background);
	width: 400px;
	/* Honestly it'd be more sane to use browser width/height, but if the user has to change their window size to something weird
                    then the preview would also get weird. Defaults to 16:9 ratio. */
	height: 225px;
	margin: 0.5em;
	margin-top: 0;
}

.expandedscreen {
	background-color: var(--background);
	outline: 4px;
	border: var(--border-light);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.mediaOn {
	background-image: url('../../../public/favicon.ico');
	background-color: black;
}

.expandable:hover {
	cursor: pointer;
}